@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
#label{
    text-align: center;
    display: inline-block;
    padding-top: 50px;
    
}
BODY{
    background-image:url(https://freellustrustrations.s3.us-east-2.amazonaws.com/free-images/thumbimg_25361957thumbejpg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
FOOTER{
    font-family: 'Rubik Moonrocks', sans-serif;
    position:static;
     text-align: center;
border: 2px ;
border-style:double;
background-color:black;
color:chartreuse;
 
 
    font-style: oblique;
margin-bottom:10PX;
}
#label audio{
    display: flex;
    padding-top:50px;
}
h1{color:white;
    font-family: 'Lobster', cursive;
    border:2px solid black;
    background-color:#37c4aa;
    

}
#button{
    display: flex;
    flex:80%;
    text-align: center;
    
    
    display: grid;
}
#button button{
    display: inline-block;
    flex-wrap:60px;
    font-size: large;
    text-align: center;
    font-weight: bolder;
    font-family: 'Edu NSW ACT Foundation', sans-serif;
    height: 60px;
}

#button button:hover{
    display: inline-block;
    flex-wrap:60px;
    font-size: medium;
    background-color:#A6294B;
    text-align: center;
    font-weight: bolder;
    font-family: 'Edu NSW ACT Foundation', sans-serif;
    height: 60px;
}
#button p{
    border: 1px  solid purple;
    color : white;
    font-size: large;

    font-family: 'Cormorant SC', serif;

    
    
    background-color:black;}
    @media (max-width:599px){
        }
    @media(max-width:600px){
         }
        @media(max-width:900px){
        
    }
    @media(max-width:1200px){
        
    }
    @media(max-width:18s00px){
        
    }